<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home" style="background-image: url('/img/cback.jpg');">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity" style="text-transform: uppercase;">{{college.name}}</span>
  </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">ABOUT US</h3>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      
      <img src="/img/cback2.jpg" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Photo of Me" width="500" height="333">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-padding-large">
      <p>{{college.about}}</p>
    </div>
  </div>
  <h3 class="w3-center">MODE OF ADMISSION</h3>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      
      <img src="/img/adm.jpg" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Photo of Me" width="500" height="333">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-padding-large">
      <p>{{college.modeOfAdmission}}</p>
    </div>
  </div>
  <h3 class="w3-center">PLACEMENTS</h3>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      
      <img src="/img/plc.jpg" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Photo of Me" width="500" height="333">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-padding-large">
      <p>{{college.placements}}</p>
    </div>
  </div>
</div>



<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min" style="background-image: url('/img/parallax2.jpg');">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide" style="text-transform: uppercase;">Reviews</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64" id="portfolio">
  {{#each reviews}}
  <h3 class="w3-center">{{this.name}}</h3>
  <p class="w3-center"><em><label>Infrastructure: </label>{{this.infra}}</em></p><br>
  <p class="w3-center"><em><label>Faculty: </label>{{this.fac}}</em></p><br>
  <p class="w3-center"><em><label>Placements: </label>{{this.place}}</em></p><br>
  <p class="w3-center"><em><label>Others: </label>{{this.oth}}</em></p><br>
  </div>
  {{/each}}
<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<!-- Third Parallax Image with Portfolio Text -->
