<div class="container">
      <header class="jumbotron my-4">
        <h1 class="display-3">Hello, {{user.name}}!</h1>
      </header>
 {{#if success_msg}} 
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}} 
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}} 
            <div class="alert alert-danger">{{error}}</div>
    {{/if}}
    <div class="row text-center">
      {{#if clg}}
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <h4 class="card-title">Edit Your College Details</h4>
            </div>
            <div class="card-footer">
              <a href="/inside/collg" class="btn btn-primary">Go!</a>
            </div>
          </div>
        </div>
        {{else}}
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <h4 class="card-title">Add Your College</h4>
              
            </div>
            <div class="card-footer">
              <a href="/inside/addcollg" class="btn btn-primary">Go!</a>
            </div>
          </div>
        </div>
        {{/if}}
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <h4 class="card-title">View Your College</h4>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Go!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <h4 class="card-title">See Reviews</h4>
            </div>
            <div class="card-footer">
              <a href="/inside/reviewcr" class="btn btn-primary">Go!</a>
            </div>
          </div>
        </div>

      </div>
</div>