 <div class="container">
 <div class="my-3 p-3 bg-white rounded box-shadow">
  {{#if success_msg}} 
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}} 
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}} 
            <div class="alert alert-danger">{{error}}</div>
    {{/if}}
        <h2 class="display-4">Requests</h2><br>
        {{#if rq}}
        <div class="row text-center">
        {{#each rq}}
        

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="/img/verpic.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">{{this.cname}}</h4>
              <p class="card-text">Representative: {{this.name}}<br> Location: {{this.location}}</p>
            </div>
            <div class="card-footer">
              <a href="/inside/valid/{{this.cname}}" class="btn btn-primary">Accept</a>
              <a href="/inside/remove/{{this.cname}}" class="btn btn-primary">Decline</a>
            </div>
          </div>
        </div>
        {{/each}}
        </div>
        {{else}}
        <header class="jumbotron my-4">
        <h1 class="display-3">No Requests Yet!</h1>
      </header>
        {{/if}}
      </div>
    </div>